MAIN - Broker AI Bot Master.json
{
  "name": "MAIN - Broker AI Bot Master",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "allowedOrigins": "*",
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [-1200, 0],
      "id": "web-chat-trigger",
      "name": "Web Chat Trigger",
      "webhookId": "broker-ai-web-chat"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1200, 200],
      "id": "whatsapp-trigger",
      "name": "WhatsApp Webhook",
      "webhookId": "broker-ai-whatsapp"
    },
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [-1200, 400],
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1200, 600],
      "id": "email-trigger",
      "name": "Email Webhook",
      "webhookId": "broker-ai-email"
    },
    {
      "parameters": {
        "jsCode": "// Channel Normalizer - Unify input from all channels\nconst input = $input.first().json;\nconst nodeName = $input.first().$node?.name || 'unknown';\n\nlet channel = 'web';\nlet session_id = '';\nlet user_identifier = '';\nlet message_text = '';\nlet message_type = 'text';\nlet attachments = [];\nlet metadata = {};\n\n// Detect channel and normalize\nif (nodeName.includes('Web Chat') || input.chatInput) {\n  channel = 'web';\n  session_id = input.sessionId || `web_${Date.now()}`;\n  user_identifier = input.sessionId || input.user_phone || '';\n  message_text = input.chatInput || input.text || '';\n  metadata = { source: 'web_chat', original: input };\n}\nelse if (nodeName.includes('WhatsApp') || input.entry) {\n  channel = 'whatsapp';\n  const entry = input.entry?.[0]?.changes?.[0]?.value;\n  const msg = entry?.messages?.[0] || {};\n  session_id = msg.from || `wa_${Date.now()}`;\n  user_identifier = msg.from ? `+${msg.from}` : '';\n  message_text = msg.text?.body || msg.caption || '';\n  message_type = msg.type || 'text';\n  if (msg.image || msg.document || msg.audio) {\n    attachments.push({ type: msg.type, id: msg[msg.type]?.id });\n  }\n  metadata = { source: 'whatsapp', wa_id: entry?.metadata?.phone_number_id, original: input };\n}\nelse if (nodeName.includes('Telegram') || input.message?.chat) {\n  channel = 'telegram';\n  const msg = input.message || {};\n  session_id = String(msg.chat?.id || `tg_${Date.now()}`);\n  user_identifier = msg.from?.username ? `@${msg.from.username}` : String(msg.from?.id || '');\n  message_text = msg.text || msg.caption || '';\n  message_type = msg.photo ? 'image' : msg.document ? 'document' : msg.voice ? 'voice' : 'text';\n  metadata = { source: 'telegram', chat_id: msg.chat?.id, user_id: msg.from?.id, original: input };\n}\nelse if (nodeName.includes('Email') || input.from || input.subject) {\n  channel = 'email';\n  session_id = input.messageId || `email_${Date.now()}`;\n  user_identifier = input.from || input.sender || '';\n  message_text = input.text || input.body || input.subject || '';\n  metadata = { source: 'email', subject: input.subject, original: input };\n}\n\nreturn [{\n  channel,\n  session_id,\n  user_identifier,\n  message_text: message_text.trim(),\n  message_type,\n  attachments,\n  timestamp: new Date().toISOString(),\n  metadata\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, 200],
      "id": "channel-normalizer",
      "name": "Channel Normalizer"
    },
    {
      "parameters": {
        "jsCode": "// Extract phone number from various identifier formats\nconst input = $input.first().json;\nlet user_phone = '';\nlet user_email = '';\nconst identifier = input.user_identifier || '';\n\n// Phone extraction patterns\nconst phonePatterns = [\n  /^\\+?[1-9]\\d{6,14}$/,  // International format\n  /^\\+?\\d{10,15}$/,       // Various formats\n];\n\nconst emailPattern = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\nif (emailPattern.test(identifier)) {\n  user_email = identifier;\n} else {\n  // Clean and extract phone\n  const cleaned = identifier.replace(/[^\\d+]/g, '');\n  if (cleaned.length >= 8) {\n    user_phone = cleaned.startsWith('+') ? cleaned : `+${cleaned}`;\n  }\n}\n\n// For Telegram, try to get phone from metadata or use telegram ID\nif (!user_phone && !user_email && input.channel === 'telegram') {\n  user_phone = `telegram:${input.metadata?.user_id || input.session_id}`;\n}\n\nreturn [{\n  ...input,\n  user_phone,\n  user_email,\n  user_text: input.message_text\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-600, 200],
      "id": "extract-identifiers",
      "name": "Extract User Identifiers"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.user_phone}}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "any",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-400, 200],
      "id": "if-have-identifier",
      "name": "IF - Have User Identifier?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "output",
              "value": "I couldn't identify your account. Please ensure you're messaging from a registered phone number or provide your registered email/phone to verify your identity.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-200, 400],
      "id": "missing-identifier-response",
      "name": "Missing Identifier Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mycms.cmsprime.com/rest/users?version=1.0.0",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer 805e6648071ff54087a78d1f5e0a5508a3ed4fd92f692c704b4e3120991fcf3df3d2eab8d57ffb782d6e4d4fba12648fb04cc76c807ff684c96e5d24"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.user_email ? {\"email\": $json.user_email} : {\"phone\": $json.user_phone} }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [-200, 100],
      "id": "auth-lookup-user",
      "name": "Auth - Lookup User"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate user from API response\nconst res = $input.first().json;\nconst prevData = $('Extract User Identifiers').item.json;\nlet u = null;\n\nif (Array.isArray(res)) u = res.length > 0 ? res[0] : null;\nelse if (res && typeof res === 'object' && Object.keys(res).length > 0 && res.id) u = res;\n\nif (!u) {\n  return [{ \n    auth_ok: false, \n    user: null,\n    ...prevData\n  }];\n}\n\nconst isVip = u.tradingVolume > 1000000 || u.totalDeposits > 50000 || u.isIb === true;\n\nreturn [{\n  auth_ok: true,\n  user: {\n    id: u.id ?? null,\n    managerId: u.managerId ?? null,\n    country: u.country ?? null,\n    firstName: u.firstName ?? null,\n    lastName: u.lastName ?? null,\n    fullName: `${u.firstName || ''} ${u.lastName || ''}`.trim() || 'Valued Client',\n    email: u.email ?? null,\n    phone: u.phone ?? null,\n    language: u.language ?? 'en',\n    registrationDate: u.registrationDate ?? null,\n    lastLoginDate: u.lastLoginDate ?? null,\n    status: u.status ?? null,\n    isIb: u.isIb ?? false,\n    isVip: isVip,\n    verified: u.verified ?? null,\n    tradingStatus: u.tradingStatus ?? null,\n    lastDepositDate: u.lastDepositDate ?? null,\n    nationality: u.nationality ?? null\n  },\n  ...prevData\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 100],
      "id": "auth-extract-fields",
      "name": "Auth - Extract User Fields"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.auth_ok}}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [200, 100],
      "id": "if-auth-ok",
      "name": "IF - Auth OK?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "output",
              "value": "I couldn't verify your account with the provided information. Please contact our Support team or your Relationship Manager for assistance.\n\nYou can reach us at:\n📧 support@cmsprime.com\n📞 +971 4 xxx xxxx",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 300],
      "id": "auth-failed-response",
      "name": "Auth Failed Response"
    },
    {
      "parameters": {
        "jsCode": "// Language Detection using simple heuristics\nconst text = $input.first().json.user_text || '';\n\n// Language patterns\nconst patterns = {\n  ar: /[\\u0600-\\u06FF\\u0750-\\u077F]/,  // Arabic\n  fa: /[\\u0600-\\u06FF]/,                // Persian (shares Arabic script)\n  zh: /[\\u4E00-\\u9FFF]/,                // Chinese\n  ja: /[\\u3040-\\u309F\\u30A0-\\u30FF]/,  // Japanese\n  ko: /[\\uAC00-\\uD7AF]/,                // Korean\n  ru: /[\\u0400-\\u04FF]/,                // Russian/Cyrillic\n  hi: /[\\u0900-\\u097F]/,                // Hindi\n  th: /[\\u0E00-\\u0E7F]/,                // Thai\n};\n\nlet detected_language = 'en'; // Default to English\nlet confidence = 0.5;\n\nfor (const [lang, pattern] of Object.entries(patterns)) {\n  if (pattern.test(text)) {\n    detected_language = lang;\n    confidence = 0.9;\n    break;\n  }\n}\n\n// Check for common English patterns if no script detected\nif (detected_language === 'en') {\n  const commonEnglish = /\\b(the|is|are|have|has|what|how|when|where|why|can|could|would|please|thanks|thank|hello|hi|help)\\b/i;\n  if (commonEnglish.test(text)) {\n    confidence = 0.85;\n  }\n}\n\n// Use user's profile language as fallback\nconst userLang = $input.first().json.user?.language;\nif (confidence < 0.7 && userLang) {\n  detected_language = userLang;\n  confidence = 0.6;\n}\n\nreturn [{\n  ...$input.first().json,\n  detected_language,\n  language_confidence: confidence\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0],
      "id": "language-detector",
      "name": "Language Detector"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analyze the following customer message and return a JSON object with sentiment analysis.\n\nMessage: \"{{$json.user_text}}\"\n\nReturn ONLY a valid JSON object with these fields:\n- sentiment: one of \"positive\", \"neutral\", \"frustrated\", \"angry\", \"urgent\"\n- score: number from -1.0 (very negative) to 1.0 (very positive)\n- is_urgent: boolean\n- confidence: number from 0 to 1\n\nJSON:",
        "options": {
          "systemMessage": "You are a sentiment analysis expert for a financial services company. Analyze customer messages accurately. Return ONLY valid JSON, no explanation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [600, 0],
      "id": "sentiment-analyzer-chain",
      "name": "Sentiment Analyzer"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [600, 200],
      "id": "sentiment-llm",
      "name": "Sentiment LLM",
      "credentials": {
        "openAiApi": {
          "id": "jqIg0jyWAkPQG4Ce",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse sentiment analysis result\nconst input = $('Language Detector').item.json;\nconst sentimentRaw = $input.first().json.text || $input.first().json.response || '{}';\n\nlet sentiment = { sentiment: 'neutral', score: 0, is_urgent: false, confidence: 0.5 };\n\ntry {\n  // Extract JSON from response (handle markdown code blocks)\n  let jsonStr = sentimentRaw;\n  const jsonMatch = sentimentRaw.match(/```json?\\s*([\\s\\S]*?)```/) || sentimentRaw.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    jsonStr = jsonMatch[1] || jsonMatch[0];\n  }\n  sentiment = JSON.parse(jsonStr.trim());\n} catch (e) {\n  // Fallback: keyword-based sentiment\n  const text = input.user_text.toLowerCase();\n  if (/angry|furious|terrible|worst|scam|fraud|steal|ridiculous/i.test(text)) {\n    sentiment = { sentiment: 'angry', score: -0.8, is_urgent: true, confidence: 0.7 };\n  } else if (/frustrated|annoyed|disappointed|upset|problem|issue|not working/i.test(text)) {\n    sentiment = { sentiment: 'frustrated', score: -0.5, is_urgent: false, confidence: 0.7 };\n  } else if (/urgent|asap|immediately|emergency|critical|help now/i.test(text)) {\n    sentiment = { sentiment: 'urgent', score: -0.3, is_urgent: true, confidence: 0.8 };\n  } else if (/thank|great|excellent|amazing|love|happy|pleased/i.test(text)) {\n    sentiment = { sentiment: 'positive', score: 0.7, is_urgent: false, confidence: 0.7 };\n  }\n}\n\nreturn [{\n  ...input,\n  sentiment: sentiment.sentiment,\n  sentiment_score: sentiment.score,\n  is_urgent: sentiment.is_urgent,\n  sentiment_confidence: sentiment.confidence\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0],
      "id": "parse-sentiment",
      "name": "Parse Sentiment"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Classify the intent of this customer message for a forex/trading broker.\n\nMessage: \"{{$json.user_text}}\"\n\nCategories:\n- account_inquiry: Questions about account balance, equity, margin, account status\n- trading_question: Questions about trading, positions, orders, strategies\n- technical_support: Platform issues, login problems, MT4/MT5 help\n- complaint: Expressing dissatisfaction, reporting problems\n- deposit_withdrawal: Questions about funding, deposits, withdrawals, transfers\n- market_analysis: Asking about prices, market conditions, forecasts\n- document_verification: KYC, documents, verification status\n- promotions: Bonuses, offers, promotions, referrals\n- general_chat: Greetings, small talk, thanks\n- escalation_request: Wants human agent, supervisor, manager\n\nReturn ONLY a valid JSON object with:\n- intent: the category name\n- confidence: number 0 to 1\n- sub_intent: more specific intent if applicable (optional)\n\nJSON:",
        "options": {
          "systemMessage": "You are an intent classifier for a financial broker. Be precise. Return ONLY valid JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1000, 0],
      "id": "intent-classifier-chain",
      "name": "Intent Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1000, 200],
      "id": "intent-llm",
      "name": "Intent LLM",
      "credentials": {
        "openAiApi": {
          "id": "jqIg0jyWAkPQG4Ce",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse intent classification result\nconst input = $('Parse Sentiment').item.json;\nconst intentRaw = $input.first().json.text || $input.first().json.response || '{}';\n\nlet intent = { intent: 'general_chat', confidence: 0.5, sub_intent: null };\n\ntry {\n  let jsonStr = intentRaw;\n  const jsonMatch = intentRaw.match(/```json?\\s*([\\s\\S]*?)```/) || intentRaw.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    jsonStr = jsonMatch[1] || jsonMatch[0];\n  }\n  intent = JSON.parse(jsonStr.trim());\n} catch (e) {\n  // Fallback keyword-based intent\n  const text = input.user_text.toLowerCase();\n  if (/balance|equity|margin|account.*status|my account/i.test(text)) {\n    intent = { intent: 'account_inquiry', confidence: 0.8 };\n  } else if (/position|trade|order|buy|sell|lot|pip/i.test(text)) {\n    intent = { intent: 'trading_question', confidence: 0.8 };\n  } else if (/deposit|withdraw|transfer|fund|payment/i.test(text)) {\n    intent = { intent: 'deposit_withdrawal', confidence: 0.85 };\n  } else if (/price|market|eurusd|gold|bitcoin|forecast/i.test(text)) {\n    intent = { intent: 'market_analysis', confidence: 0.8 };\n  } else if (/human|agent|person|manager|supervisor|speak.*someone/i.test(text)) {\n    intent = { intent: 'escalation_request', confidence: 0.95 };\n  } else if (/document|kyc|verify|passport|id|proof/i.test(text)) {\n    intent = { intent: 'document_verification', confidence: 0.85 };\n  } else if (/bonus|promotion|offer|referral/i.test(text)) {\n    intent = { intent: 'promotions', confidence: 0.8 };\n  } else if (/login|password|platform|mt4|mt5|not working|error|crash/i.test(text)) {\n    intent = { intent: 'technical_support', confidence: 0.8 };\n  } else if (/complaint|unhappy|problem|issue|terrible|disappointed/i.test(text)) {\n    intent = { intent: 'complaint', confidence: 0.75 };\n  }\n}\n\nreturn [{\n  ...input,\n  intent: intent.intent,\n  intent_confidence: intent.confidence,\n  sub_intent: intent.sub_intent || null\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 0],
      "id": "parse-intent",
      "name": "Parse Intent"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Ensure tables exist and upsert user config\nINSERT INTO user_configs (\n  user_phone, \n  client_id,\n  preferred_language, \n  communication_style,\n  is_vip,\n  last_seen_at,\n  last_channel,\n  total_interactions\n)\nVALUES (\n  '{{ $json.user_phone }}',\n  {{ $json.user.id || 'NULL' }},\n  '{{ $json.detected_language }}',\n  'friendly_support',\n  {{ $json.user.isVip || false }},\n  NOW(),\n  '{{ $json.channel }}',\n  1\n)\nON CONFLICT (user_phone)\nDO UPDATE SET \n  last_seen_at = NOW(),\n  last_channel = EXCLUDED.last_channel,\n  total_interactions = user_configs.total_interactions + 1,\n  preferred_language = COALESCE(NULLIF(EXCLUDED.preferred_language, 'en'), user_configs.preferred_language);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1400, 0],
      "id": "db-upsert-user-config",
      "name": "DB - Upsert User Config",
      "credentials": {
        "postgres": {
          "id": "yNVFJmXSqNtKGgso",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  uc.system_prompt,\n  uc.preferred_language,\n  uc.communication_style,\n  uc.is_vip,\n  uc.total_interactions,\n  COALESCE(up.persona_override, uc.communication_style) as active_persona,\n  up.topics_of_interest,\n  up.notification_preferences,\n  (\n    SELECT COUNT(*) FROM chat_sessions \n    WHERE user_phone = '{{ $('Parse Intent').item.json.user_phone }}' \n    AND escalated = true \n    AND session_start > NOW() - INTERVAL '30 days'\n  ) as recent_escalations,\n  (\n    SELECT sentiment_avg FROM chat_sessions \n    WHERE user_phone = '{{ $('Parse Intent').item.json.user_phone }}' \n    ORDER BY session_start DESC LIMIT 1\n  ) as last_session_sentiment\nFROM user_configs uc\nLEFT JOIN user_preferences up ON uc.user_phone = up.user_phone\nWHERE uc.user_phone = '{{ $('Parse Intent').item.json.user_phone }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1600, 0],
      "id": "db-load-user-context",
      "name": "DB - Load User Context",
      "credentials": {
        "postgres": {
          "id": "yNVFJmXSqNtKGgso",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Smart Router & Dynamic Prompt Builder\nconst context = $('Parse Intent').item.json;\nconst dbConfig = $input.first().json || {};\n\n// Determine if escalation is needed\nconst shouldEscalate = (() => {\n  // Explicit request\n  if (context.intent === 'escalation_request') return { escalate: true, reason: 'user_requested' };\n  \n  // Very negative sentiment\n  if (context.sentiment_score < -0.6 && context.sentiment === 'angry') {\n    return { escalate: true, reason: 'negative_sentiment' };\n  }\n  \n  // VIP with complaint\n  if (context.user?.isVip && context.intent === 'complaint') {\n    return { escalate: true, reason: 'vip_complaint' };\n  }\n  \n  // Too many recent escalations (might indicate ongoing issue)\n  if ((dbConfig.recent_escalations || 0) >= 3) {\n    return { escalate: true, reason: 'recurring_issues' };\n  }\n  \n  return { escalate: false, reason: null };\n})();\n\n// Select persona based on context\nconst selectPersona = () => {\n  if (context.sentiment === 'angry' || context.sentiment === 'frustrated') {\n    return 'empathetic_support';\n  }\n  if (context.intent === 'market_analysis' || context.intent === 'trading_question') {\n    return 'professional_analyst';\n  }\n  if (context.is_urgent) {\n    return 'urgent_responder';\n  }\n  return dbConfig.active_persona || 'friendly_support';\n};\n\n// Build persona prompts\nconst personaPrompts = {\n  friendly_support: `You are Alex, a friendly and warm support specialist at CMS Prime. Be conversational, use simple language, show genuine care. Use occasional light humor when appropriate. Address the user by name when possible.`,\n  \n  empathetic_support: `You are Alex, a patient and understanding support specialist at CMS Prime. The customer seems frustrated - acknowledge their feelings first, apologize for any inconvenience, and focus on solutions. Be extra patient and reassuring. Never be defensive.`,\n  \n  professional_analyst: `You are Alex, a knowledgeable market analyst at CMS Prime. Provide clear, data-driven insights. Be professional but approachable. Use proper trading terminology but explain complex concepts simply.`,\n  \n  urgent_responder: `You are Alex, a responsive support specialist at CMS Prime. The customer needs quick help - be concise and action-oriented. Get to the solution fast while remaining professional.`\n};\n\nconst selectedPersona = selectPersona();\n\n// Build comprehensive system prompt\nconst basePrompt = `You are a human support specialist named Alex at CMS Prime, a leading forex and CFD broker. You're having a real conversation - be natural, warm, and genuinely helpful.\n\n## Your Personality\n${personaPrompts[selectedPersona]}\n\n## Critical Rules\n1. NEVER claim to be an AI or bot - you're Alex from CMS Prime Support\n2. NEVER promise profits or guaranteed returns\n3. NEVER provide specific financial advice - suggest consulting their Relationship Manager for personalized advice\n4. For ANY account-specific data (balances, positions, transactions), you MUST use the available tools - NEVER guess or make up numbers\n5. Always add appropriate risk disclaimers when discussing trading\n\n## Available Tools - Use These!\n- get_account_summary: Check account balance, equity, margin\n- get_open_positions: View current trading positions\n- get_trade_history: Review closed trades and performance\n- get_transactions: Check deposits, withdrawals, transfers\n- get_market_prices: Get real-time quotes\n- get_market_news: Latest financial news\n- get_economic_calendar: Upcoming economic events\n- trading_calculator: Calculate pip values, margin, profit scenarios\n- get_platform_status: Check MT4/MT5 server status\n- get_document_status: Check KYC/verification status\n- submit_support_ticket: Create ticket for complex issues\n- schedule_callback: Book call with Relationship Manager\n- get_promotions: Current offers and bonuses\n- get_risk_assessment: Portfolio risk analysis\n- search_faq: Find answers in knowledge base\n\n## Response Guidelines\n- Respond in ${context.detected_language === 'en' ? 'English' : context.detected_language.toUpperCase()}\n- Keep responses concise but complete\n- Use formatting (bold, bullet points) for clarity when listing information\n- If you can't help with something, offer alternatives or escalation\n\n## User Context\n- Name: ${context.user?.fullName || 'Valued Client'}\n- Account Status: ${context.user?.status || 'Active'}\n- VIP: ${context.user?.isVip ? 'Yes - Priority Support' : 'No'}\n- Previous Sentiment: ${dbConfig.last_session_sentiment ? (dbConfig.last_session_sentiment > 0 ? 'Positive' : 'Needs attention') : 'Unknown'}\n- Current Mood: ${context.sentiment} (${context.is_urgent ? 'URGENT' : 'normal priority'})`;\n\n// Add intent-specific guidance\nconst intentGuidance = {\n  account_inquiry: '\\n\\nThe user is asking about their account. Use get_account_summary to provide accurate information.',\n  trading_question: '\\n\\nThe user has a trading question. Use get_open_positions or get_trade_history if they ask about their trades.',\n  deposit_withdrawal: '\\n\\nThe user is asking about funding. Use get_transactions to show their history. Be clear about processing times.',\n  market_analysis: '\\n\\nThe user wants market insights. Use get_market_prices and get_market_news. Always add: \"This is not financial advice.\"',\n  technical_support: '\\n\\nThe user has a technical issue. Use get_platform_status to check server status. Offer to submit_support_ticket if needed.',\n  complaint: '\\n\\nThe user has a complaint. Listen empathetically, apologize, and focus on resolution. Offer to escalate if needed.',\n  document_verification: '\\n\\nThe user is asking about verification. Use get_document_status to check their KYC status.',\n  promotions: '\\n\\nThe user is interested in promotions. Use get_promotions to show available offers.',\n  escalation_request: '\\n\\nThe user wants human help. Acknowledge and offer to submit_support_ticket or schedule_callback.',\n  general_chat: '\\n\\nGeneral conversation. Be friendly and helpful. Ask how you can assist today.'\n};\n\nconst systemPrompt = basePrompt + (intentGuidance[context.intent] || '');\n\nreturn [{\n  ...context,\n  system_prompt: systemPrompt,\n  selected_persona: selectedPersona,\n  should_escalate: shouldEscalate.escalate,\n  escalation_reason: shouldEscalate.reason,\n  db_config: dbConfig\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 0],
      "id": "smart-router-prompt-builder",
      "name": "Smart Router & Prompt Builder"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.should_escalate}}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2000, 0],
      "id": "if-should-escalate",
      "name": "IF - Should Escalate?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.user_text}}",
        "options": {
          "systemMessage": "={{$json.system_prompt}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [2200, 100],
      "id": "ai-agent-main",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [2200, 400],
      "id": "postgres-chat-memory",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "yNVFJmXSqNtKGgso",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [2000, 400],
      "id": "main-llm",
      "name": "OpenAI GPT-4.1 Mini",
      "credentials": {
        "openAiApi": {
          "id": "jqIg0jyWAkPQG4Ce",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Get complete account summary including balance, equity, margin, free margin, margin level, and account details. Use when user asks about their account balance, equity, margin status, or account overview.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}_TOOL_ACCOUNT_SUMMARY"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "client_id": "={{ $('Smart Router & Prompt Builder').item.json.user.id }}"
          },
          "matchingColumns": ["client_id"],
          "schema": [
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": true,
              "type": "number"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [2400, 200],
      "id": "tool-account-summary",
      "name": "Tool - Account Summary"
    },
    {
      "parameters": {
        "description": "Get user's current open trading positions with profit/loss. Use when user asks about their open trades, current positions, or running P&L.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}_TOOL_POSITIONS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "client_id": "={{ $('Smart Router & Prompt Builder').item.json.user.id }}",
            "platform": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('platform', 'mt4 or mt5, default mt5', 'string') }}"
          },
          "matchingColumns": ["client_id"],
          "schema": [
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": true,
              "type": "number"
            },
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [2400, 300],
      "id": "tool-open-positions",
      "name": "Tool - Open Positions"
    },
    {
      "parameters": {
        "description": "Get user's closed trade history with performance summary. Use when user asks about past trades, trading history, or performance statistics.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}_TOOL_TRADE_HISTORY"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "client_id": "={{ $('Smart Router & Prompt Builder').item.json.user.id }}",
            "date_from": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date_from', 'Start date YYYY-MM-DD, default 30 days ago', 'string') }}",
            "date_to": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date_to', 'End date YYYY-MM-DD, default today', 'string') }}",
            "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('limit', 'Max trades to return, default 20', 'number') }}"
          },
          "matchingColumns": ["client_id"],
          "schema": [
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": true,
              "type": "number"
            },
            {
              "id": "date_from",
              "displayName": "date_from",
              "required": false,
              "type": "string"
            },
            {
              "id": "date_to",
              "displayName": "date_to",
              "required": false,
              "type": "string"
            },
            {
              "id": "limit",
              "displayName": "limit",
              "required": false,
              "type": "number"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [2400, 400],
      "id": "tool-trade-history",
      "name": "Tool - Trade History"
    },
    {
      "parameters": {
        "description": "Get user's transaction history including deposits, withdrawals, and transfers. Use when user asks about funding, deposit status, withdrawal history, or account transfers.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}_TOOL_TRANSACTIONS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "client_id": "={{ $('Smart Router & Prompt Builder').item.json.user.id }}",
            "type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('type', 'deposit, withdrawal, transfer, bonus, or all', 'string') }}",
            "status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('status', 'pending, completed, failed, or all', 'string') }}",
            "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('limit', 'Max transactions, default 20', 'number') }}"
          },
          "matchingColumns": ["client_id"],
          "schema": [
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": true,
              "type": "number"
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "type": "string"
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "type": "string"
            },
            {
              "id": "limit",
              "displayName": "limit",
              "required": false,
              "type": "number"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [2400, 500],
      "id": "tool-transactions",
      "name": "Tool - Transactions"
    },
    {
      "parameters": {
        "description": "Get real-time market prices for trading instruments. Use when user asks about current prices, quotes, spreads, or market rates for forex pairs, commodities, indices, or crypto.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}_TOOL_MARKET_PRICES"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "symbols": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('symbols', 'Comma-separated symbols like EURUSD,XAUUSD,BTCUSD', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "symbols",
              "displayName": "symbols",
              "required": true,
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [2600, 200],
      "id": "tool-market-prices",
      "name": "Tool - Market Prices"
    },
    {
      "parameters": {
        "description": "Get latest financial market news. Use when user asks about market news, what's happening in the markets, or news affecting specific assets.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}_TOOL_MARKET_NEWS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', 'forex, crypto, commodities, stocks, or general', 'string') }}",
            "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('limit', 'Number of news items, default 5', 'number') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "type": "string"
            },
            {
              "id": "limit",
              "displayName": "limit",
              "required": false,
              "type": "number"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [2600, 300],
      "id": "tool-market-news",
      "name": "Tool - Market News"
    },
    {
      "parameters": {
        "description": "Get upcoming economic calendar events. Use when user asks about economic events, news releases, NFP, FOMC, interest rate decisions, or what's coming up that might affect markets.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}_TOOL_ECONOMIC_CALENDAR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "importance": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('importance', 'low, medium, high, or all', 'string') }}",
            "currencies": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('currencies', 'Currency codes like USD,EUR,GBP or all', 'string') }}",
            "days_ahead": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('days_ahead', 'Days to look ahead, default 7', 'number') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "importance",
              "displayName": "importance",
              "required": false,
              "type": "string"
            },
            {
              "id": "currencies",
              "displayName": "currencies",
              "required": false,
              "type": "string"
            },
            {
              "id": "days_ahead",
              "displayName": "days_ahead",
              "required": false,
              "type": "number"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [2600, 400],
      "id": "tool-economic-calendar",
      "name": "Tool - Economic Calendar"
    },
    {
      "parameters": {
        "description": "Trading calculator for pip value, margin requirements, and profit/loss scenarios. Use when user wants to calculate potential profit, required margin, pip value, or risk/reward.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}_TOOL_CALCULATOR"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "symbol": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('symbol', 'Trading symbol like EURUSD', 'string') }}",
            "lot_size": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lot_size', 'Position size in lots', 'number') }}",
            "operation": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('operation', 'pip_value, margin, or profit_calc', 'string') }}",
            "entry_price": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('entry_price', 'Entry price for profit calculation', 'number') }}",
            "exit_price": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('exit_price', 'Exit price for profit calculation', 'number') }}",
            "leverage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('leverage', 'Account leverage like 100 or 500', 'number') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "symbol",
              "displayName": "symbol",
              "required": true,
              "type": "string"
            },
            {
              "id": "lot_size",
              "displayName": "lot_size",
              "required": true,
              "type": "number"
            },
            {
              "id": "operation",
              "displayName": "operation",
              "required": true,
              "type": "string"
            },
            {
              "id": "entry_price",
              "displayName": "entry_price",
              "required": false,
              "type": "number"
            },
            {
              "id": "exit_price",
              "displayName": "exit_price",
              "required": false,
              "type": "number"
            },
            {
              "id": "leverage",
              "displayName": "leverage",
              "required": false,
              "type": "number"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [2600, 500],
      "id": "tool-calculator",
      "name": "Tool - Trading Calculator"
    },
    {
      "parameters": {
        "description": "Check MT4/MT5 platform server status. Use when user reports connection issues or asks if the platform is working.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}_TOOL_PLATFORM_STATUS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "platform": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('platform', 'mt4 or mt5', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [2800, 200],
      "id": "tool-platform-status",
      "name": "Tool - Platform Status"
    },
    {
      "parameters": {
        "description": "Check user's KYC and document verification status. Use when user asks about verification, documents, KYC status, or what documents are needed.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}_TOOL_DOCUMENT_STATUS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "client_id": "={{ $('Smart Router & Prompt Builder').item.json.user.id }}"
          },
          "matchingColumns": ["client_id"],
          "schema": [
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": true,
              "type": "number"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [2800, 300],
      "id": "tool-document-status",
      "name": "Tool - Document Status"
    },
    {
      "parameters": {
        "description": "Create a support ticket for human follow-up. Use when issue needs human attention, user requests escalation, or problem is complex.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}_TOOL_SUPPORT_TICKET"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "client_id": "={{ $('Smart Router & Prompt Builder').item.json.user.id }}",
            "category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', 'technical, account, trading, complaint, other', 'string') }}",
            "priority": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('priority', 'low, medium, high, urgent', 'string') }}",
            "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('subject', 'Brief ticket subject', 'string') }}",
            "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('description', 'Detailed description of the issue', 'string') }}"
          },
          "matchingColumns": ["client_id"],
          "schema": [
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": true,
              "type": "number"
            },
            {
              "id": "category",
              "displayName": "category",
              "required": true,
              "type": "string"
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": true,
              "type": "string"
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": true,
              "type": "string"
            },
            {
              "id": "description",
              "displayName": "description",
              "required": true,
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [2800, 400],
      "id": "tool-support-ticket",
      "name": "Tool - Support Ticket"
    },
    {
      "parameters": {
        "description": "Schedule a callback with the user's Relationship Manager. Use when user wants to speak with someone or needs a consultation.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}_TOOL_SCHEDULE_CALLBACK"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "client_id": "={{ $('Smart Router & Prompt Builder').item.json.user.id }}",
            "preferred_datetime": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('preferred_datetime', 'Preferred date and time for callback', 'string') }}",
            "timezone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('timezone', 'User timezone like UTC+4 or Asia/Dubai', 'string') }}",
            "topic": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('topic', 'What they want to discuss', 'string') }}"
          },
          "matchingColumns": ["client_id"],
          "schema": [
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": true,
              "type": "number"
            },
            {
              "id": "preferred_datetime",
              "displayName": "preferred_datetime",
              "required": false,
              "type": "string"
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "type": "string"
            },
            {
              "id": "topic",
              "displayName": "topic",
              "required": false,
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [2800, 500],
      "id": "tool-schedule-callback",
      "name": "Tool - Schedule Callback"
    },
    {
      "parameters": {
        "description": "Get current promotions and bonus offers available to the user. Use when user asks about bonuses, promotions, or special offers.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}_TOOL_PROMOTIONS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "client_id": "={{ $('Smart Router & Prompt Builder').item.json.user.id }}"
          },
          "matchingColumns": ["client_id"],
          "schema": [
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": true,
              "type": "number"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [3000, 200],
      "id": "tool-promotions",
      "name": "Tool - Promotions"
    },
    {
      "parameters": {
        "description": "Get portfolio risk assessment including exposure analysis and recommendations. Use when user asks about risk, exposure, or wants portfolio analysis.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}_TOOL_RISK_ASSESSMENT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "client_id": "={{ $('Smart Router & Prompt Builder').item.json.user.id }}"
          },
          "matchingColumns": ["client_id"],
          "schema": [
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": true,
              "type": "number"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [3000, 300],
      "id": "tool-risk-assessment",
      "name": "Tool - Risk Assessment"
    },
    {
      "parameters": {
        "description": "Search FAQ and knowledge base for answers. Use for general questions about how things work, processes, or common issues.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}_TOOL_FAQ_SEARCH"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('query', 'Search query for FAQ', 'string') }}",
            "category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('category', 'Category: account, trading, platform, deposit, withdrawal, verification, general', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": true,
              "type": "string"
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [3000, 400],
      "id": "tool-faq-search",
      "name": "Tool - FAQ Search"
    },
    {
      "parameters": {
        "jsCode": "// Compliance Filter - Check and modify response if needed\nconst context = $('Smart Router & Prompt Builder').item.json;\nlet response = $input.first().json.output || $input.first().json.text || '';\n\n// Prohibited phrases that should never appear\nconst prohibited = [\n  { pattern: /guaranteed.*profit/gi, replacement: 'potential returns (not guaranteed)' },\n  { pattern: /you will.*make money/gi, replacement: 'you may see returns' },\n  { pattern: /risk.?free/gi, replacement: 'with managed risk' },\n  { pattern: /100%.*safe/gi, replacement: 'with appropriate risk management' },\n  { pattern: /can'?t lose/gi, replacement: 'with proper risk management' },\n  { pattern: /easy money/gi, replacement: 'trading opportunities' },\n  { pattern: /get rich/gi, replacement: 'build wealth over time' }\n];\n\nlet complianceFlags = [];\n\n// Check and replace prohibited content\nfor (const rule of prohibited) {\n  if (rule.pattern.test(response)) {\n    complianceFlags.push(`Replaced: ${rule.pattern.toString()}`);\n    response = response.replace(rule.pattern, rule.replacement);\n  }\n}\n\n// Add disclaimer for trading-related responses\nconst tradingKeywords = /\\b(trade|trading|position|buy|sell|invest|profit|loss|market|forex|cfd|leverage)\\b/i;\nconst hasDisclaimer = /risk|disclaimer|not.*advice|past performance/i.test(response);\n\nif (tradingKeywords.test(response) && !hasDisclaimer && response.length > 100) {\n  response += '\\n\\n_Trading involves risk. Past performance is not indicative of future results. This is not financial advice._';\n  complianceFlags.push('Added risk disclaimer');\n}\n\n// Ensure we never claim to be AI when asked directly\nconst aiClaimPattern = /I('m| am) (an? )?(AI|artificial intelligence|bot|chatbot|language model|machine)/gi;\nif (aiClaimPattern.test(response)) {\n  response = response.replace(aiClaimPattern, \"I'm Alex from CMS Prime Support\");\n  complianceFlags.push('Replaced AI claim');\n}\n\nreturn [{\n  ...context,\n  original_response: $input.first().json.output || $input.first().json.text,\n  filtered_response: response,\n  compliance_flags: complianceFlags\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 0],
      "id": "compliance-filter",
      "name": "Compliance Filter"
    },
    {
      "parameters": {
        "jsCode": "// Handle escalation path\nconst context = $input.first().json;\nconst reason = context.escalation_reason;\n\nlet escalationMessage = '';\n\nswitch (reason) {\n  case 'user_requested':\n    escalationMessage = `I understand you'd like to speak with a human agent. Let me connect you with one of our specialists who can provide more personalized assistance.\\n\\nIn the meantime, I'm creating a priority support ticket so our team has all the context they need.`;\n    break;\n  case 'negative_sentiment':\n    escalationMessage = `I can see you're having a frustrating experience, and I'm really sorry about that. I want to make sure you get the best possible help, so I'm escalating this to a senior support specialist who will reach out to you shortly.\\n\\nIs there anything specific you'd like me to pass along to them?`;\n    break;\n  case 'vip_complaint':\n    escalationMessage = `As a valued VIP client, your satisfaction is our top priority. I'm immediately escalating this to your dedicated account manager who will personally follow up with you.\\n\\nThey will contact you within the next hour.`;\n    break;\n  case 'recurring_issues':\n    escalationMessage = `I notice you've had to reach out about issues multiple times recently, and I apologize that we haven't fully resolved things. I'm escalating this to our senior support team for a comprehensive review of your account.\\n\\nSomeone will contact you within 2 hours.`;\n    break;\n  default:\n    escalationMessage = `I'm connecting you with a human specialist who can better assist you. They'll have full context of our conversation.`;\n}\n\nreturn [{\n  ...context,\n  output: escalationMessage,\n  escalation_initiated: true\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, -200],
      "id": "escalation-handler",
      "name": "Escalation Handler"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Log comprehensive audit record\nINSERT INTO chat_audit_logs (\n  user_phone,\n  client_id,\n  channel,\n  session_id,\n  inbound_text,\n  detected_language,\n  sentiment,\n  sentiment_score,\n  intent_classified,\n  outbound_text,\n  response_time_ms,\n  escalated,\n  escalation_reason,\n  compliance_flags,\n  persona_used,\n  created_at\n)\nVALUES (\n  '{{ $json.user_phone }}',\n  {{ $json.user?.id || 'NULL' }},\n  '{{ $json.channel }}',\n  '{{ $json.session_id }}',\n  '{{ $json.user_text.replace(/'/g, \"''\") }}',\n  '{{ $json.detected_language }}',\n  '{{ $json.sentiment }}',\n  {{ $json.sentiment_score || 0 }},\n  '{{ $json.intent }}',\n  '{{ ($json.filtered_response || $json.output || '').replace(/'/g, \"''\") }}',\n  {{ Date.now() - new Date($json.timestamp).getTime() }},\n  {{ $json.should_escalate || $json.escalation_initiated || false }},\n  {{ $json.escalation_reason ? `'${$json.escalation_reason}'` : 'NULL' }},\n  '{{ JSON.stringify($json.compliance_flags || []) }}',\n  '{{ $json.selected_persona || 'friendly_support' }}',\n  NOW()\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2600, 0],
      "id": "db-audit-log",
      "name": "DB - Comprehensive Audit Log",
      "credentials": {
        "postgres": {
          "id": "yNVFJmXSqNtKGgso",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Update or create session record\nINSERT INTO chat_sessions (\n  user_phone,\n  session_id,\n  session_start,\n  channel,\n  messages_count,\n  sentiment_avg,\n  escalated\n)\nVALUES (\n  '{{ $json.user_phone }}',\n  '{{ $json.session_id }}',\n  NOW(),\n  '{{ $json.channel }}',\n  1,\n  {{ $json.sentiment_score || 0 }},\n  {{ $json.should_escalate || $json.escalation_initiated || false }}\n)\nON CONFLICT (session_id)\nDO UPDATE SET\n  messages_count = chat_sessions.messages_count + 1,\n  sentiment_avg = (chat_sessions.sentiment_avg * chat_sessions.messages_count + {{ $json.sentiment_score || 0 }}) / (chat_sessions.messages_count + 1),\n  escalated = chat_sessions.escalated OR {{ $json.should_escalate || $json.escalation_initiated || false }},\n  session_end = NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2800, 0],
      "id": "db-update-session",
      "name": "DB - Update Session",
      "credentials": {
        "postgres": {
          "id": "yNVFJmXSqNtKGgso",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format final response based on channel\nconst context = $input.first().json;\nconst channel = context.channel;\nlet response = context.filtered_response || context.output || 'I apologize, but I encountered an issue. Please try again or contact support.';\n\n// Channel-specific formatting\nif (channel === 'whatsapp') {\n  // WhatsApp formatting (limited markdown)\n  response = response\n    .replace(/\\*\\*([^*]+)\\*\\*/g, '*$1*')  // Bold\n    .replace(/^- /gm, '• ');               // Bullet points\n}\nelse if (channel === 'telegram') {\n  // Telegram supports HTML\n  response = response\n    .replace(/\\*\\*([^*]+)\\*\\*/g, '<b>$1</b>')\n    .replace(/\\*([^*]+)\\*/g, '<i>$1</i>')\n    .replace(/_([^_]+)_/g, '<i>$1</i>');\n}\nelse if (channel === 'email') {\n  // Email - add signature\n  response += `\\n\\n---\\nBest regards,\\nAlex\\nCMS Prime Support Team\\n\\nThis is an automated response. For urgent matters, please call +971 4 xxx xxxx.`;\n}\n\nreturn [{\n  output: response,\n  channel: channel,\n  session_id: context.session_id,\n  user_phone: context.user_phone,\n  metadata: context.metadata\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3000, 0],
      "id": "format-response",
      "name": "Format Response"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.channel}}",
              "value2": "whatsapp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3200, 0],
      "id": "if-channel-whatsapp",
      "name": "IF - WhatsApp?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $json.metadata?.wa_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer WHATSAPP_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.user_phone.replace('+', '') }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.output.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [3400, -100],
      "id": "send-whatsapp",
      "name": "Send WhatsApp Response"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.channel}}",
              "value2": "telegram"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3400, 100],
      "id": "if-channel-telegram",
      "name": "IF - Telegram?"
    },
    {
      "parameters": {
        "chatId": "={{ $json.metadata?.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3600, 0],
      "id": "send-telegram",
      "name": "Send Telegram Response",
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3600, 200],
      "id": "return-web-response",
      "name": "Return Web/Default Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_audit_logs (user_phone, client_id, channel, inbound_text, outbound_text, escalated, created_at)\nVALUES (\n  '{{ $('Extract User Identifiers').item.json.user_phone }}',\n  NULL,\n  '{{ $('Extract User Identifiers').item.json.channel }}',\n  '{{ $('Extract User Identifiers').item.json.user_text.replace(/'/g, \"''\") }}',\n  '{{ $json.output.replace(/'/g, \"''\") }}',\n  false,\n  NOW()\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [600, 300],
      "id": "db-audit-auth-fail",
      "name": "DB - Audit (Auth Fail)",
      "credentials": {
        "postgres": {
          "id": "yNVFJmXSqNtKGgso",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Web Chat Trigger": {
      "main": [
        [
          {
            "node": "Channel Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Channel Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Channel Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Webhook": {
      "main": [
        [
          {
            "node": "Channel Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel Normalizer": {
      "main": [
        [
          {
            "node": "Extract User Identifiers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract User Identifiers": {
      "main": [
        [
          {
            "node": "IF - Have User Identifier?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Have User Identifier?": {
      "main": [
        [
          {
            "node": "Auth - Lookup User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Missing Identifier Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Missing Identifier Response": {
      "main": [
        [
          {
            "node": "Return Web/Default Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth - Lookup User": {
      "main": [
        [
          {
            "node": "Auth - Extract User Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth - Extract User Fields": {
      "main": [
        [
          {
            "node": "IF - Auth OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Auth OK?": {
      "main": [
        [
          {
            "node": "Language Detector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Failed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Failed Response": {
      "main": [
        [
          {
            "node": "DB - Audit (Auth Fail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Audit (Auth Fail)": {
      "main": [
        [
          {
            "node": "Return Web/Default Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Language Detector": {
      "main": [
        [
          {
            "node": "Sentiment Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analyzer": {
      "main": [
        [
          {
            "node": "Parse Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Sentiment": {
      "main": [
        [
          {
            "node": "Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Classifier": {
      "main": [
        [
          {
            "node": "Parse Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent": {
      "main": [
        [
          {
            "node": "DB - Upsert User Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Upsert User Config": {
      "main": [
        [
          {
            "node": "DB - Load User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Load User Context": {
      "main": [
        [
          {
            "node": "Smart Router & Prompt Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Router & Prompt Builder": {
      "main": [
        [
          {
            "node": "IF - Should Escalate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Should Escalate?": {
      "main": [
        [
          {
            "node": "Escalation Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalation Handler": {
      "main": [
        [
          {
            "node": "Compliance Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Compliance Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4.1 Mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Account Summary": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Open Positions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Trade History": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Transactions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Market Prices": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Market News": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Economic Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Trading Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Platform Status": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Document Status": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Support Ticket": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Schedule Callback": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Promotions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Risk Assessment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool - FAQ Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Compliance Filter": {
      "main": [
        [
          {
            "node": "DB - Comprehensive Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Comprehensive Audit Log": {
      "main": [
        [
          {
            "node": "DB - Update Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Update Session": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "IF - WhatsApp?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - WhatsApp?": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF - Telegram?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Telegram?": {
      "main": [
        [
          {
            "node": "Send Telegram Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Web/Default Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1.0.0",
  "meta": {
    "instanceId": "broker-ai-bot-master"
  },
  "id": "MAIN_BROKER_AI_BOT",
  "tags": ["production", "ai-bot", "multichannel"]
}

