PROD - n8n Chat Bot (Auth + Ensure User Config + DB Prompt + Memory + Audit + Tool Hooks)V3 (2).json
{
  "name": "PROD - n8n Chat Bot (Auth + Ensure User Config + DB Prompt + Memory + Audit + Tool Hooks)V3",
  "nodes": [
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1216,
        736
      ],
      "id": "630b9115-b9de-4ce3-94cc-87d611cf5883",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "yNVFJmXSqNtKGgso",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {
          "allowedOrigins": "http://localhost:8099",
          "responseMode": "lastNode"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -640,
        208
      ],
      "id": "1eba53ac-60c9-4fc1-8ad3-3e3efc6356ff",
      "name": "When chat message received",
      "webhookId": "08c37700-5dd7-4eef-9ad3-df2c638bf2c0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "user_phone",
              "value": "=+971521570240",
              "type": "string",
              "id": "c0a45868-a50b-4fed-9967-0c99918be588"
            },
            {
              "name": "user_text",
              "value": "={{$json.chatInput}}",
              "type": "string",
              "id": "3342149a-ad30-4d37-bc5f-e361440b8615"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        208
      ],
      "id": "7a042b89-df16-4d3d-b817-86ea21bd99b6",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.user_phone}}",
              "operation": "notEmpty"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -272,
        208
      ],
      "id": "94b12e23-add6-4b08-82f9-3416594a8e39",
      "name": "IF - Have Session Phone?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "output",
              "value": "Your chat session doesn’t have a user key (sessionId). Please open the embedded chat and ensure it sends sessionId = phone number.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        464
      ],
      "id": "49639c1c-8c30-430c-85c6-9b1a848f1e21",
      "name": "Missing Phone Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mycms.cmsprime.com/rest/users?version=1.0.0",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer 805e6648071ff54087a78d1f5e0a5508a3ed4fd92f692c704b4e3120991fcf3df3d2eab8d57ffb782d6e4d4fba12648fb04cc76c807ff684c96e5d24"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"phone\": \"{{$json.user_phone}}\"}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        32,
        176
      ],
      "id": "ac67e98c-b4d0-4a3e-990f-18fed23b54ca",
      "name": "Auth - Lookup User By Phone"
    },
    {
      "parameters": {
        "jsCode": "// The HTTP node might output:\n// A) [] -> auth failed\n// B) [ { user... } ] -> auth ok\n// C) { user... } -> auth ok\n\nconst res = $input.first().json;\nlet u = null;\n\nif (Array.isArray(res)) u = res.length > 0 ? res[0] : null;\nelse if (res && typeof res === 'object' && Object.keys(res).length > 0) u = res;\n\nif (!u) return [{ auth_ok: false, user: null }];\n\nreturn [{\n  auth_ok: true,\n  user: {\n    id: u.id ?? null,\n    managerId: u.managerId ?? null,\n    country: u.country ?? null,\n    firstName: u.firstName ?? null,\n    lastName: u.lastName ?? null,\n    middleName: u.middleName ?? null,\n    email: u.email ?? null,\n    lead: u.lead ?? null,\n    registrationDate: u.registrationDate ?? null,\n    lastLoginDate: u.lastLoginDate ?? null,\n    status: u.status ?? null,\n    isIb: u.isIb ?? null,\n    nationality: u.nationality ?? null,\n    language: u.language ?? null,\n    verified: u.verified ?? null,\n    phone: u.phone ?? null,\n    tradingStatus: u.tradingStatus ?? null,\n    lastDepositDate: u.lastDepositDate ?? null\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        176
      ],
      "id": "87277eef-74a0-44de-90e7-fba6d350da97",
      "name": "Auth - Pick Important Fields"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.auth_ok}}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        176
      ],
      "id": "367e79a3-d964-4983-a02f-ae2fffecab7e",
      "name": "IF - Auth OK?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_configs (user_phone, system_prompt, language_pref, last_seen_at)\nVALUES (\n  '{{ $json.user.phone }}',\n  'You are CMS Prime Support AI. Be concise, very friendly, and genuinely helpful. Sound like a real support person (warm, natural, simple wording). Do not sound like an AI. Never promise profits.\\n\\nFor any account-specific facts (deposits, positions, balances, prices), you MUST call tools/APIs and never guess.\\n\\nTool guide:\\n- Deposits/transactions/funding history: call get_deposits\\n\\nIf the user asks for financial advice, provide general educational guidance and suggest contacting their Relationship Manager.',\n  '{{ $json.user.language }}',\n  NOW()\n)\nON CONFLICT (user_phone)\nDO UPDATE SET last_seen_at = NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        16
      ],
      "id": "44db5a04-afa4-4d07-b789-becb1cdf9b5c",
      "name": "DB - Ensure User Config",
      "credentials": {
        "postgres": {
          "id": "yNVFJmXSqNtKGgso",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT system_prompt, language_pref\nFROM user_configs\nWHERE user_phone = '{{ $('IF - Auth OK?').item.json.user.phone }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        784,
        16
      ],
      "id": "ce13d5c3-b348-4f51-a452-140446446a47",
      "name": "DB - Load User Config",
      "credentials": {
        "postgres": {
          "id": "yNVFJmXSqNtKGgso",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nconst system_prompt = row.system_prompt ?? row?.[0]?.system_prompt ?? null;\nconst language_pref = row.language_pref ?? row?.[0]?.language_pref ?? null;\nreturn [{\n  system_prompt: system_prompt ?? 'You are CMS Prime Support AI. Be friendly and helpful. Never promise profits. For account-specific facts, call tools and never guess.',\n  language_pref: language_pref ?? 'en'\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        16
      ],
      "id": "e387b717-7c5d-4492-a59e-70eff7b8061f",
      "name": "Prepare Prompt From DB"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$('Normalize Input').item.json.user_text}}",
        "options": {
          "systemMessage": "={{$json.system_prompt}}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1120,
        16
      ],
      "id": "e7abe4a6-6bfc-46e4-9eb7-35765b5e3a14",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        944,
        560
      ],
      "id": "cda56b79-2a47-40f3-a3af-de4b5d98bf28",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "jqIg0jyWAkPQG4Ce",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Fetch the user's transactions list. Use when user asks about any transactions:  deposits, funding, transaction ,transfer ,withdrwal  history , last deposit status/amount.",
        "workflowId": {
          "__rl": true,
          "value": "4fk7x61HRJf4oPTec8eLL",
          "mode": "list",
          "cachedResultUrl": "/workflow/4fk7x61HRJf4oPTec8eLL",
          "cachedResultName": "TOOL - Get Deposits (Transactions)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('type', ``, 'string') }}",
            "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('limit', ``, 'string') }}",
            "client_id": 80733
          },
          "matchingColumns": [
            "client_id"
          ],
          "schema": [
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "limit",
              "displayName": "limit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1408,
        256
      ],
      "id": "7c920ddb-ec4a-4e31-8b95-d5f18375f823",
      "name": "Tool - Deposits"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_audit_logs (user_phone, client_id, inbound_text, outbound_text, tool_calls, created_at)\nVALUES (\n  '{{ $('Normalize Input').item.json.user_phone }}',\n  '{{ $('IF - Auth OK?').item.json.user.id }}',\n  '{{ $('Normalize Input').item.json.user_text }}',\n  '{{ $('AI Agent').item.json.output ?? $('AI Agent').item.json.text ?? '' }}',\n  NULL,\n  NOW()\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1440,
        16
      ],
      "id": "f1c365df-5167-49cc-b8bb-61f466577cf1",
      "name": "DB - Audit Log (Auth OK)",
      "credentials": {
        "postgres": {
          "id": "yNVFJmXSqNtKGgso",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "output",
              "value": "I couldn’t verify your account from this phone number. Please contact Support or your Relationship Manager.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        336
      ],
      "id": "10920e14-1d85-4e0a-be3d-b1608492a3e2",
      "name": "Auth Failed Response"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_audit_logs (user_phone, client_id, inbound_text, outbound_text, tool_calls, created_at)\nVALUES (\n  '{{ $('Normalize Input').item.json.user_phone }}',\n  NULL,\n  '{{ $('Normalize Input').item.json.user_text }}',\n  '{{ $json.output }}',\n  NULL,\n  NOW()\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        784,
        336
      ],
      "id": "36e38893-3bbd-48b2-9144-6499e830d480",
      "name": "DB - Audit Log (Auth Fail)",
      "credentials": {
        "postgres": {
          "id": "yNVFJmXSqNtKGgso",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "output",
              "value": "={{$('AI Agent').item.json.output ?? $('AI Agent').item.json.text ?? $json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        400
      ],
      "id": "7de597a0-d411-48b8-9139-66aa2683845a",
      "name": "Return Output"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "IF - Have Session Phone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Have Session Phone?": {
      "main": [
        [
          {
            "node": "Auth - Lookup User By Phone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Missing Phone Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Missing Phone Response": {
      "main": [
        [
          {
            "node": "Return Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth - Lookup User By Phone": {
      "main": [
        [
          {
            "node": "Auth - Pick Important Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth - Pick Important Fields": {
      "main": [
        [
          {
            "node": "IF - Auth OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Auth OK?": {
      "main": [
        [
          {
            "node": "DB - Ensure User Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Failed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Ensure User Config": {
      "main": [
        [
          {
            "node": "DB - Load User Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Load User Config": {
      "main": [
        [
          {
            "node": "Prepare Prompt From DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt From DB": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "DB - Audit Log (Auth OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Audit Log (Auth OK)": {
      "main": [
        [
          {
            "node": "Return Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Failed Response": {
      "main": [
        [
          {
            "node": "DB - Audit Log (Auth Fail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Audit Log (Auth Fail)": {
      "main": [
        [
          {
            "node": "Return Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool - Deposits": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "750d05fc-88cf-4f92-974d-fe578bbb4fb5",
  "meta": {
    "instanceId": "495f6278a9dd899c69efc38f92904361f03ad646b8c63a3d991806ec829debf6"
  },
  "id": "KxDKnGSkmlOlHfvNcEKmc",
  "tags": []
}