TOOL - Platform Status.json
{
  "name": "TOOL - Platform Status",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "platform",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-400, 300],
      "id": "tool-trigger",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "// Normalize input\nconst input = $input.first().json || {};\n\nlet platform = String(input.platform || 'all').toLowerCase();\nconst validPlatforms = ['mt4', 'mt5', 'all'];\nif (!validPlatforms.includes(platform)) platform = 'all';\n\nreturn [{ platform }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-200, 300],
      "id": "normalize-input",
      "name": "Normalize Input"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://mycms.cmsprime.com/rest/platform/status?version=1.0.0",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer 805e6648071ff54087a78d1f5e0a5508a3ed4fd92f692c704b4e3120991fcf3df3d2eab8d57ffb782d6e4d4fba12648fb04cc76c807ff684c96e5d24"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [0, 300],
      "id": "api-get-status",
      "name": "API - Get Platform Status"
    },
    {
      "parameters": {
        "jsCode": "// Format platform status response\nconst status = $input.first().json || {};\nconst input = $('Normalize Input').item.json;\n\n// Demo status (would come from actual monitoring in production)\nconst demoStatus = {\n  mt4: {\n    servers: [\n      {\n        name: 'CMS-Live1',\n        status: 'online',\n        latency_ms: 45,\n        uptime: '99.98%',\n        active_connections: 2847,\n        last_checked: new Date().toISOString()\n      },\n      {\n        name: 'CMS-Live2',\n        status: 'online',\n        latency_ms: 38,\n        uptime: '99.99%',\n        active_connections: 3156,\n        last_checked: new Date().toISOString()\n      },\n      {\n        name: 'CMS-Demo',\n        status: 'online',\n        latency_ms: 52,\n        uptime: '99.95%',\n        active_connections: 1243,\n        last_checked: new Date().toISOString()\n      }\n    ],\n    overall_status: 'operational',\n    scheduled_maintenance: null\n  },\n  mt5: {\n    servers: [\n      {\n        name: 'CMS-MT5-Live',\n        status: 'online',\n        latency_ms: 32,\n        uptime: '99.99%',\n        active_connections: 4521,\n        last_checked: new Date().toISOString()\n      },\n      {\n        name: 'CMS-MT5-Demo',\n        status: 'online',\n        latency_ms: 41,\n        uptime: '99.97%',\n        active_connections: 1876,\n        last_checked: new Date().toISOString()\n      }\n    ],\n    overall_status: 'operational',\n    scheduled_maintenance: null\n  }\n};\n\n// Use API response if available, otherwise use demo\nconst platformStatus = status.platforms || demoStatus;\n\n// Build response based on requested platform\nlet result = {\n  ok: true,\n  timestamp: new Date().toISOString()\n};\n\nconst statusEmoji = {\n  'online': '🟢',\n  'operational': '🟢',\n  'degraded': '🟡',\n  'maintenance': '🟠',\n  'offline': '🔴',\n  'outage': '🔴'\n};\n\nif (input.platform === 'all') {\n  // Return all platforms\n  result.platforms = {};\n  \n  for (const [platform, data] of Object.entries(platformStatus)) {\n    result.platforms[platform.toUpperCase()] = {\n      overall_status: data.overall_status,\n      status_indicator: statusEmoji[data.overall_status] || '⚪',\n      servers: data.servers.map(s => ({\n        name: s.name,\n        status: s.status,\n        status_indicator: statusEmoji[s.status] || '⚪',\n        latency: `${s.latency_ms}ms`,\n        uptime: s.uptime,\n        connections: s.active_connections\n      })),\n      scheduled_maintenance: data.scheduled_maintenance || 'None scheduled'\n    };\n  }\n  \n  // Overall summary\n  const allOnline = Object.values(platformStatus).every(p => p.overall_status === 'operational');\n  result.overall_summary = {\n    status: allOnline ? 'All Systems Operational' : 'Some Systems Degraded',\n    status_indicator: allOnline ? '🟢' : '🟡'\n  };\n  \n} else {\n  // Return specific platform\n  const data = platformStatus[input.platform];\n  \n  if (!data) {\n    result.platforms = {\n      [input.platform.toUpperCase()]: {\n        overall_status: 'unknown',\n        status_indicator: '⚪',\n        message: 'Platform status information not available'\n      }\n    };\n  } else {\n    result.platforms = {\n      [input.platform.toUpperCase()]: {\n        overall_status: data.overall_status,\n        status_indicator: statusEmoji[data.overall_status] || '⚪',\n        servers: data.servers.map(s => ({\n          name: s.name,\n          status: s.status,\n          status_indicator: statusEmoji[s.status] || '⚪',\n          latency: `${s.latency_ms}ms`,\n          uptime: s.uptime,\n          connections: s.active_connections\n        })),\n        scheduled_maintenance: data.scheduled_maintenance || 'None scheduled'\n      }\n    };\n  }\n}\n\n// Add helpful info\nresult.help = {\n  if_connection_issues: [\n    'Check your internet connection',\n    'Try switching to a different server',\n    'Restart your trading platform',\n    'Clear platform cache (Tools > Options > Server)',\n    'Contact support if issues persist'\n  ],\n  support_contact: 'support@cmsprime.com'\n};\n\nreturn [result];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 300],
      "id": "format-output",
      "name": "Format Status"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "API - Get Platform Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API - Get Platform Status": {
      "main": [
        [
          {
            "node": "Format Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "instanceId": "broker-ai-tool-platform-status"
  },
  "id": "TOOL_PLATFORM_STATUS",
  "tags": ["tool", "support"]
}

